
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporlar Sayfası</h1>

<br />

<a href="/PdfReport/StaticPdfReport/" class="btn btn-outline-info">Statik Pdf Raporu</a>

<br />
<br />

<a href="/PdfReport/DestinationPdfReport/" class="btn btn-outline-secondary">Tur Rotarları Pdf Raporu</a>